<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <p><a href="/users/destroy-session">Log Out</a></p>
        <p><b>Name: </b><%= locals.user.name %></p>
        <p><a href="/word/search-page">Search Words</a></p>
        <p><a href="/word/get-words">Get Words</a></p>
    </body>
</html>